
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Título da página</title>
    <meta charset="utf-8">
  </head>
  <body>
    <div id="printer" data-codigo="101183">
        {/* <!------------------------- CABEÇALHO ----------------------------> */}
        <div class="contents-bulletin container span12">
            <div class="row-fluid">
                <table class="table table-bordered" id="table-dados-aluno">
                <thead>
                    <tr>
                    <th class="borderless"></th>
                    <th class="borderless"></th>
                    <th class="borderless"></th>
                    <th class="borderless"></th>
                    <th class="borderless"></th>
                    <th class="borderless"></th>
                    <th class="borderless"></th>
                    <th class="borderless"></th>
                    <th class="borderless"></th>
                    <th class="borderless"></th>
                    <th class="borderless"></th>
                    <th class="borderless"></th>
                    <th class="borderless"></th>
                    <th class="borderless"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td rowspan="2" class="table-logo">
                        <img src="../res/img/logo-fit.png" alt="" id="print-img-logo"></img>
                    </td>
                    <td colspan="10" class="table-left"><span class="bold">Nome:</span>
                        Bruno Santos de Assunção</td>
                    <td colspan="1" class="table-left"><span class="bold">RA:</span>
                        1902440</td>            
                    <td colspan="2"><span class="bold">Ano:</span>
                        2023/1</td>
                    </tr>
                    <tr>
                    <td colspan="9" class="table-left"><span class="bold">Curso:</span>
                        Curso de Sistemas de Informação</td>
                    <td colspan="3" id="label-semester"><span class="bold">Semestre:</span>
                        3º Semestre</td>
                    <td colspan="2"><span class="bold">Turma:</span>
                        SI 3A NOITE</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
            {/* <!---------------------------- BOLETIM ------------------------------------> */}
        <div class="contents-bulletin container" id="div_bulletin">
            <div class="row-fluid">
                <table class="table table-bordered" id="table-boletim" data-cfgacad="{&quot;idconfigacad&quot;:8,&quot;idcfgacad&quot;:8,&quot;idperiodode&quot;:171,&quot;idperiodoate&quot;:0,&quot;inlancacmulti&quot;:true,&quot;nracpeso&quot;:50,&quot;nracpesocalc&quot;:&quot;.50000000000000000000&quot;,&quot;nracpaipeso&quot;:30,&quot;nracpaipesocalc&quot;:&quot;.42857142857142860000&quot;,&quot;nrprovapeso&quot;:50,&quot;nrprovapesocalc&quot;:&quot;.50000000000000000000&quot;,&quot;nrprovapaipeso&quot;:40,&quot;nrprovapaipesocalc&quot;:&quot;.57142857142857140000&quot;,&quot;nrsubpeso&quot;:50,&quot;nrsubpesocalc&quot;:&quot;.50000000000000000000&quot;,&quot;nrsubpaipeso&quot;:40,&quot;nrsubpaipesocalc&quot;:&quot;.57142857142857140000&quot;,&quot;nrpaipeso&quot;:30,&quot;nrpaipesocalc&quot;:&quot;.30000000000000000000&quot;,&quot;nrqtdac&quot;:5,&quot;nrqtdacdescarte&quot;:1}">
                    <thead>
                        <tr>
                        <th class="borderless"></th>
                        <th class="borderless"></th>
                        <th class="borderless"></th>
                        <th class="borderless"></th>
                        <th colspan="1" class="table-title borderless" style="border-right: 1px solid #dedede; border-left: 1px solid #dedede;">
                            <span>MAC</span>        	
                        </th>
                        <th colspan="2" class="table-title borderless" style="border-right: 1px solid #dedede; border-left: 1px solid #dedede;">
                            <span>PROVA</span>
                        </th>
                        <th colspan="1" class="table-title borderless" style="border-right: 1px solid #dedede; border-left: 1px solid #dedede;">
                            <span>PAI</span>
                        </th>
                        <th colspan="4" class="table-title borderless" style="border-left: 1px solid #dedede;">
                            <button class="btn btn-small btn-nota-ponderada-absoluta" data-nota-tipo="ponderada">
                            <img src="../res/img/professor/calculo_24.png" alt=""></img>
                            <span>Ver Nota Ponderada</span>
                            </button>
                        </th>
                        </tr>
                        <tr class="cls-tr-pai-sim">
                        <th colspan="2" class="borderless formula-media-final"></th>
                        <th colspan="2" class="table-title borderless" style="border-right: 1px solid #dedede;">
                            <span>COM PAI</span>
                        </th>
                        <th colspan="1" class="table-title borderless" style="border-right: 1px solid #dedede; border-left: 1px solid #dedede;">
                            <span>30%</span>        	
                        </th>
                        <th colspan="2" class="table-title borderless" style="border-right: 1px solid #dedede; border-left: 1px solid #dedede;">
                            <span>40%</span>
                        </th>
                        <th colspan="1" class="table-title borderless" style="border-right: 1px solid #dedede; border-left: 1px solid #dedede;">
                            <span>30%</span>
                        </th>
                        <th colspan="5" class="table-title borderless" style="border-left: 1px solid #dedede;">
                        </th>
                        </tr>
                        <tr>
                        <th colspan="2" class="borderless calculo-media-final"></th>
                        <th colspan="2" class="table-title borderless" style="border-right: 1px solid #dedede;">
                            <span>SEM PAI</span>            	
                        </th>
                        <th colspan="1" class="table-title borderless" style="border-right: 1px solid #dedede; border-left: 1px solid #dedede;">
                            <span>50%</span>            	
                        </th>
                        <th colspan="2" class="table-title borderless" style="border-right: 1px solid #dedede; border-left: 1px solid #dedede;">
                            <span>50%</span>
                        </th>
                        <th colspan="1" class="table-title borderless" style="border-right: 1px solid #dedede; border-left: 1px solid #dedede;">
                            <span>0%</span>            	
                        </th>
                        <th colspan="1" class="table-title borderless" style="border-left: 1px solid #dedede;">           	
                        </th>
                        <th colspan="4" class="table-title borderless">Final</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="table-subtitle">Disciplina</th>
                            <th class="table-subtitle">Turma</th>
                            <th class="table-subtitle">Tipo</th>
                            <th class="table-subtitle">C.H</th>
                            <th class="table-subtitle">
                                <span>MAC</span>
                                <a href="javascript:void(0);" data-semestre="1">
                                <img class="comp-nota" alt="Clique aqui e veja a composição das notas de AC" title="Clique aqui e veja a composição das notas de AC" src="../res/img/aluno/add.png"></img>
                                </a>	
                            </th>
                            <th class="table-subtitle"><span>PR</span></th>
                            <th class="table-subtitle"><span>SUB</span></th>
                            <th class="table-subtitle">
                                <span>PAI</span>
                                <a href="javascript:void(0);" id="btn-pai123">
                                    <img class="comp-nota" alt="Clique aqui e veja a composição das notas do PAI" title="Clique aqui e veja a composição das notas do PAI" src="../res/img/aluno/add.png"></img>
                                </a>
                            </th>
                            <th class="table-subtitle"><span>BO</span></th>
                            <th class="table-subtitle">TF</th>
                            <th class="table-subtitle">MF</th>
                            <th class="table-subtitle">Situação</th>
                        </tr>
                        <tr>
                            <td class="table-left">Atividades Complementares</td>
                            <td>SI 3A NOITE</td>
                            <td>Regular</td>
                            <td>200</td>
                            <td class="nota-mac">
                                <div class="td-nota-absoluta"></div>
                                <div class="td-nota-ponderada" title=" x 0.5 = "></div>
                            </td>
                            <td class="nota-prova ">
                                <div class="td-nota-absoluta"></div>
                                <div class="td-nota-ponderada" title=" x 0.5 = "></div>
                            </td>
                            <td class="nota-sub ">
                                <div class="td-nota-absoluta"></div>
                                <div class="td-nota-ponderada" title=" x 0.5 = "></div>
                            </td>
                            <td class="nota-pai cls-td-pai">
                                <div class="td-nota-absoluta"></div>
                                <div class="td-nota-ponderada" title=" x 0 = "></div>
                            </td>
                            <td class="nota-bo"></td>
                            <td>0</td>
                            <td class="nota-mf"></td>
                            <td>Indefinido</td>
                        </tr>
                        <tr>
                            <td class="table-left">Computação Cognitiva</td>
                            <td>SI 3A NOITE</td>
                            <td>Regular</td>
                            <td>80</td>
                            <td class="nota-mac">
                                <div class="td-nota-absoluta">4,00</div>
                                <div class="td-nota-ponderada" title="4,00 x 0.3 = 1.20">1.20</div>
                            </td>
                            <td class="nota-prova ">
                                <div class="td-nota-absoluta"></div>
                                <div class="td-nota-ponderada" title=" x 0.4 = "></div>
                            </td>
                            <td class="nota-sub ">
                                <div class="td-nota-absoluta"></div>
                                <div class="td-nota-ponderada" title=" x 0.4 = "></div>
                            </td>
                            <td class="nota-pai cls-td-pai">
                                <div class="td-nota-absoluta"></div>
                                <div class="td-nota-ponderada" title=" x 0.3 = "></div>
                            </td>
                            <td class="nota-bo"></td>
                            <td>
                            <a alt="Clique aqui para ver as datas das suas faltas" href="javascript:void(0);" class="link-ver-faltas"><u>4</u></a>            </td>
                            <td class="nota-mf"></td>
                            <td>Indefinido</td>
                        </tr>
                        <tr>
                            <td class="table-left">Estágio Supervisionado</td>
                            <td>SI 3A NOITE</td>
                            <td>Regular</td>
                            <td>320</td>
                            <td class="nota-mac">
                                <div class="td-nota-absoluta"></div>
                                <div class="td-nota-ponderada" title=" x 0.3 = "></div>
                            </td>
                            <td class="nota-prova ">
                                <div class="td-nota-absoluta"></div>
                                <div class="td-nota-ponderada" title=" x 0.4 = "></div>
                            </td>
                            <td class="nota-sub ">
                                <div class="td-nota-absoluta"></div>
                                <div class="td-nota-ponderada" title=" x 0.4 = "></div>
                            </td>
                            <td class="nota-pai cls-td-pai">
                                <div class="td-nota-absoluta"></div>
                                <div class="td-nota-ponderada" title=" x 0.3 = "></div>
                            </td>
                            <td class="nota-bo"></td>
                            <td>
                            0            </td>
                            <td class="nota-mf"></td>
                            <td>Indefinido</td>
                        </tr>
                        <tr>
                            <td class="table-left">Governança de TI</td>
                            <td>SI 3A NOITE</td>
                            <td>Regular</td>
                            <td>80</td>
                            <td class="nota-mac">
                                <div class="td-nota-absoluta"></div>
                                <div class="td-nota-ponderada" title=" x 0.3 = "></div>
                            </td>
                            <td class="nota-prova ">
                                <div class="td-nota-absoluta"></div>
                                <div class="td-nota-ponderada" title=" x 0.4 = "></div>
                            </td>
                            <td class="nota-sub ">
                                <div class="td-nota-absoluta"></div>
                                <div class="td-nota-ponderada" title=" x 0.4 = "></div>
                            </td>
                            <td class="nota-pai cls-td-pai">
                                <div class="td-nota-absoluta"></div>
                                <div class="td-nota-ponderada" title=" x 0.3 = "></div>
                            </td>
                            <td class="nota-bo"></td>
                            <td>
                            0            </td>
                            <td class="nota-mf"></td>
                            <td>Indefinido</td>
                        </tr>
                        <tr>
                            <td class="table-left">Sistemas Integrados de Gestão</td>
                            <td>SI 3A NOITE</td>
                            <td>Regular</td>
                            <td>80</td>
                            <td class="nota-mac">
                                <div class="td-nota-absoluta">4,50</div>
                                <div class="td-nota-ponderada" title="4,50 x 0.3 = 1.35">1.35</div>
                            </td>
                            <td class="nota-prova ">
                                <div class="td-nota-absoluta"></div>
                                <div class="td-nota-ponderada" title=" x 0.4 = "></div>
                            </td>
                            <td class="nota-sub ">
                                <div class="td-nota-absoluta"></div>
                                <div class="td-nota-ponderada" title=" x 0.4 = "></div>
                            </td>
                            <td class="nota-pai cls-td-pai">
                                <div class="td-nota-absoluta"></div>
                                <div class="td-nota-ponderada" title=" x 0.3 = "></div>
                            </td>
                            <td class="nota-bo"></td>
                            <td>
                            0            </td>
                            <td class="nota-mf"></td>
                            <td>Indefinido</td>
                        </tr>
                        <tr>
                            <td class="table-left">Trabalho de Conclusão de Curso - TCC II</td>
                            <td>SI 3A NOITE</td>
                            <td>Regular</td>
                            <td>80</td>
                            <td class="nota-mac">
                                <div class="td-nota-absoluta">3,00</div>
                                <div class="td-nota-ponderada" title="3,00 x 0.5 = 1.50">1.50</div>
                            </td>
                            <td class="nota-prova ">
                                <div class="td-nota-absoluta"></div>
                                <div class="td-nota-ponderada" title=" x 0.5 = "></div>
                            </td>
                            <td class="nota-sub ">
                                <div class="td-nota-absoluta"></div>
                                <div class="td-nota-ponderada" title=" x 0.5 = "></div>
                            </td>
                            <td class="nota-pai cls-td-pai">
                                <div class="td-nota-absoluta"></div>
                                <div class="td-nota-ponderada" title=" x 0 = "></div>
                            </td>
                            <td class="nota-bo"></td>
                            <td>
                            <a alt="Clique aqui para ver as datas das suas faltas" href="javascript:void(0);" class="link-ver-faltas"><u>8</u></a>            </td>
                            <td class="nota-mf"></td>
                            <td>Indefinido</td>
                        </tr>
                        <tr>
                            <th colspan="7" class="table-left obs"><b>Observações: </b><span>Média mínima para aprovação 6,0(seis) com 75% de frequência.</span></th>
                            <th colspan="5" class="table-left">
                                <div class="btn_imprimir pull-right">
                                <button class="btn" id="btn_print"><span id="imprimir" alt="">Imprimir</span><img src="../res/img/aluno/print.png"></img></button>	
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="contents-bulletin container legends-container">
            <h5>Legendas:</h5>
            <div class="legends container well pull-left">
                <ul>
                    <li>AC - Atividades Contínuas</li>
                    <li>MAC - Média das Atividades Contínuas</li>
                    <li>PR - PROVA</li>
                    <li>SUB - Prova Substitutiva</li>
                    <li>BO - Bônus</li>
                    <li>TF - Total de Faltas</li>
                    <li>MF - Média Final</li>
                    <li>SF - Satisfatório</li>
                    <li>IF - Insatisfatório</li>
                    <li class="color-legend"><img class="comp-nota" alt="Clique aqui e veja a composição das notas de AC" title="Clique aqui e veja a composição das notas de AC" src="../res/img/aluno/add.png"></img> - Composição da Nota</li>
                    <li class="color-legend"><img src="../res/img/aluno/aluno-pai.png" alt=""></img> - Participante do PAI</li>
                </ul>
            </div>
        </div>
        <div class="contents-bulletin container frequencia-table">
            <h5>Frequência:</h5>
            <p id="obs">Quantidade de faltas permitidas por disciplina conforme carga horária:</p>
            <table class="table table-bordered" id="frequency">
                <thead>
                    <tr>
                        <th>Carga Horária</th>
                        <th>Faltas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>36</td>
                        <td>9</td>
                    </tr>
                    <tr>
                        <td>40</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>72</td>
                        <td>18</td>
                    </tr>
                    <tr>
                        <td>80</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>120</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td>160</td>
                        <td>40</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="contents-bulletin container footer-container" id="div_footer_bulletin">
            <em>Sujeito à alterações e não válido como histórico. Em caso de dúvida, entre em contato com o professor da disciplina.<span class="date pull-right">10/04/2023 14:33:07</span></em>
        </div>
        
    </div>
  </body>
</html>