.menu {

    height:100%;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    color: black;
    float:left;
    background-color: #EFEEEE;
    margin-top: 30%;
  
}

.menu h4 {
    color: #002953;
    font-weight: bold;
    font-size: 26px;
    font-family: 'Calibri';
    line-height: 30px;
    margin-top: 13px;
}